table{
    border:1px solid black;
    border-radius: 5px;
}

.lista > li:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
    border: 1px solid;
    border-radius: 3px;
    width: fit-content;
}
.lista2{
    border: 1px solid;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
}
.lista2:hover{
    background-color: black;
    color: white;
}

span{
    background-color: green;
}
img{
    width: 15px;
    border: 1px solid;
    border-radius: 3px;
}
img[name="eliminar"]{
    background-color: antiquewhite;
}
img[name="guardar"]{
    background-color: rgb(207, 234, 123);
}
img[name="eliminar"]:hover{
    background-color: red;
}
img[name="guardar"]:hover{
    background-color: rgb(21, 255, 0);
}

img[name="editar"]{
    background-color: rgb(97, 242, 182);
}
img[name="editar"]:hover{
    background-color: rgb(36, 156, 193);
}