table{
    border:1px solid black;
    border-radius: 5px;
}

.lista > li:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
    border: 1px solid;
    border-radius: 3px;
    width: fit-content;
}